body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 64%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 25px;
}

.parent {
  width: 100%;
}

.parent-layer {
  width: 100%;
  display: flex;
  margin-top: 75px;
  justify-content: space-between;
  gap: 30px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.introductiomMySelf,
.descriptionMySelf {
  margin-top: 50px;
  font-size: 1.25rem;
}

.descriptionMySelf {
  width: 70%;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 500;
}
.welcoming-statment{
    color:  #3BBADB;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.hing-statment{
    color:  #008AAA;
    font-weight: 600;
}
.specialisit{
    color: #D1884F ;
}

.btns {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.btn1,
.btn2 {
  width: 200px;
  padding: 9px 20px;
  font-size: 1.19rem;
  border-radius: 4px;
}

.btn1 {
  background-color: #008aaa;
  color: #fff;
  border: solid 1px #008aaa;
  box-shadow: 1px 3px 1px rgba(0, 138, 170, 0.2);
}

.btn2 {
  background-color: #fff;
  color: #008aaa;
  border: solid 1px #008aaa;
  box-shadow: 0px 1px 0px rgba(0, 138, 170, 0.2);
  margin-left: 35px;
}

.amedImg {
  max-width: 315px;
  height: 90%;
  border-bottom-left-radius: 60%;
  box-shadow: -17px 6px 0px rgba(118,163,205,0.5);
}

/* Media Queries for Responsiveness */
    @media (max-width: 768px) {
    .container {
        width: 90%;
    }
  .parent-layer {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .amedImg {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 0.875rem;
  }

  .introductiomMySelf,
  .descriptionMySelf {
    font-size: 1rem;
  }

  .btn1,
  .btn2 {
    font-size: 1rem;
  }
}
